# Nuxt dev/build outputs
.output
.output-new
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

*.mjs

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example